---
import { SearchIcon } from "@components/searcher/SearchIcon"
---

<form action="/search" method="GET" autocomplete="off" class="flex flex-col justify-center items-center gap-6">
	<div class="flex w-full max-w-[520px] rounded-lg border border-solid border-neutral-400 py-0 pl-4 hover:bg-neutral-100 dark:border-neutral-700 dark:hover:bg-neutral-800">
		<input required name="q" placeholder="Ej. svg" class="w-full bg-transparent focus:border-transparent focus:outline-none focus:ring-0" />
		<button type={"submit"} class="flex justify-center items-center border-none p-0 pt-2 pb-1 px-2 rounded-lg">
			<SearchIcon />
		</button>
	</div>
</form>
