---
import Layout from "../layouts/Layout.astro";
import { ResourcesContainer } from "../components/ResourcesContainer";
---

<Layout title="LinkHub">
  <p class="text-description">Todas las herramientas estan listadas aquí:</p>
  <ResourcesContainer client:load />
</Layout>

<style>
  .text-description {
    font-size: 1.4rem;
  }
</style>
