---
import { SearchIcon } from "@components/searcher/SearchIcon"
import Layout from "@layouts/Layout.astro"
import { ResourcesContainer } from "@src/components/ResourcesListContainer"
---

<Layout title="Todos los recursos - LinkHub">
	<div class="flex justify-between items-center">
		<p class="text-base my-5">♫ Lleno con todas tus cosas todo lo traigo aqui
			todo lo que necesites llevo dentro de mi ♪</p>
		<a href="/" class="p-2 rounded-lg hover:bg-neutral-800">
			<SearchIcon />
		</a>
	</div>
  <ResourcesContainer client:only />
</Layout>