---
import { ResourcesContainer } from "@components/ResourcesContainer"
import { SearchIcon } from "@components/searcher/SearchIcon"
import Layout from "@layouts/Layout.astro"
---

<Layout title="LinkHub">
	<header class="flex justify-between items-center">
		<p class="text-base my-5">♫ Lleno con todas tus cosas todo lo traigo aqui
			todo lo que necesites llevo dentro de mi ♪</p>
		<a href="/" class="p-2 rounded-lg hover:bg-neutral-800">
			<SearchIcon />
		</a>
	</header>
  <ResourcesContainer client:load />
</Layout>