---
import Layout from "@layouts/Layout.astro"
---

<Layout title="Contribuyentes - LinkHub">
	<section class="my-8">
		<h2 class="text-xl my-4">¿Como contribuir?</h2>
		<p class="text-base mb-2">
			En el repositorio de <a href="https://github.com/doneber/linkhub/blob/main/CONTRIBUTING.md" class="underline underline-offset-2 text-blue-500">GitHub</a> puedes encontrar el documenmento completo.
		</p>
		<p class="text-base mb-6">
			O simplemente crea un issue en nuestro repositorio con tus sugerencias.
		</p>
		<a href="https://github.com/doneber/linkhub/issues/new" class="text-lg border border-solid border-neutral-700 rounded px-5 py-2 bg-transparent hover:bg-neutral-800">Crear Issue</a>
	</section>

	<section class="my-8">
		<h2 class="text-xl my-4">Colaboradores</h2>
		<p class="text-base mb-4">¡Gracias a todos los contribuyentes!.</p>

	<a href="https://github.com/doneber/linkhub/graphs/contributors">
		<img src="https://contrib.rocks/image?repo=doneber/linkhub" alt="contribuyentes del repo" />
	</a>
	</section>

</Layout>