---
import { SearcherQuery } from "../components/searcher/SearcherQuery"
import Layout from "../layouts/Layout.astro"
---

<Layout title="LinkHub">
  <h1>LinkHub</h1>
  <p class="text-description">
    Encuentra las mejores herramientas de desarrollo
  </p>
  <SearcherQuery client:load />
</Layout>

<style>
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-top: 12vh;
    margin-bottom: .5em;
  }
  .text-description {
    font-size: 1.3rem;
    text-align: center;
  }
</style>
