<footer>
  <a href="https://github.com/doneber/linkhub">GitHub Repo</a>
</footer>

<style>
  footer {
    margin: 0 auto;
    padding: 1rem 0;
    max-width: 800px;
    a {
      color: white;
      font-size: 0.95rem;
      line-height: 1.6;
    }
  }
</style>
