<footer class="py-4 border-t-[1px] border-t-neutral-800">
	<div class="container m-auto">
		<a class="text-base no-underline hover:underline ml-4" href="https://github.com/doneber/linkhub" target="_blank">Repositorio de GitHub</a>
	</div>
</footer>
