<nav>
  <a href="/" class="logo">
    <img src="/logo.svg" alt="Logo de Linkhub" >
    Home
  </a>
  <a href="/search">Buscador</a>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    a {
      color: white;
      font-size: 20px;
      line-height: 1.6;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  .logo {
    display: flex;
    gap: .5rem;

    img {
      width: 1.2rem;
      margin-top: .3rem;
    }
  }
</style>
