<nav class="flex justify-between w-[800px] max-w-[calc(100%_-_2rem)] mx-auto p-4">
  <a href="/" class="flex gap-2 items-center justify-center no-underline hover:underline">
    <img class="w-5 mt-1" src="/logo.svg" alt="Logo de Linkhub" >
	LinkHub
  </a>
  <div class="gap-3">
    <a class="no-underline hover:underline" href="/all">RECURSOS</a>
  </div>
</nav>