---
import ToggleTheme from './ToggleTheme';
import Logo from './Logo.astro';
---
<nav class="container mx-auto flex justify-between p-4">
  <a href="/" class="flex gap-2 items-center justify-center hover:underline">
	<Logo class="w-5 mt-1" />
		<span>LinkHub</span>
  </a>
  <ToggleTheme client:only/>
  <div class="gap-3">
    <a class="no-underline hover:underline" href="/all">Todos los Recursos</a>
  </div>
</nav>