<nav class="container mx-auto flex justify-between p-4">
  <a href="/" class="flex gap-2 items-center justify-center hover:underline">
    <img class="w-5 mt-1" src="/logo.svg" alt="Logo de Linkhub" >
		<span>LinkHub</span>
  </a>
  <div class="gap-3">
    <a class="no-underline hover:underline" href="/all">Todos los Recursos</a>
  </div>
</nav>