---

---

<aside id="default-sidebar" class="absolute sm:static z-40 w-64 transition-transform"

aria-label="Sidebar">
  <div class="h-[85vh] px-3 py-4 overflow-y-auto bg-neutral-100 dark:bg-neutral-800 p-4 border-r-[1px] dark:border-r-neutral-800 border-r-neutral-200">
    <ul class="space-y-2 font-medium">
        <li>
          <a href="/home" class="flex items-center p-2 text-neutral-900 rounded-lg dark:text-white hover:bg-neutral-100 dark:hover:bg-neutral-700 group">
            <div class="flex justify-center min-w-6">
              <svg width="1.7em" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="m24.155 8.781.175.164 13.072 12.842L36 23.213l-1.8-1.768L34.201 35a2 2 0 0 1-1.851 1.994l-.149.006h-20a2.001 2.001 0 0 1-1.995-1.851L10.201 35 10.2 21.446l-1.798 1.767L7 21.787 20.058 8.958a3 3 0 0 1 4.097-.177Zm-2.586 1.504-.096.087-9.273 9.109L12.201 35l4.999-.001.001-9.999c0-1.054.816-1.918 1.851-1.995l.149-.005h6c1.054 0 1.918.816 1.995 1.851l.005.149-.001 9.999 5.001.001-.001-15.52-9.299-9.136a1.001 1.001 0 0 0-1.332-.059ZM25.201 25h-6l-.001 9.999h6L25.201 25Z" /></svg>
            </div>
            <span class="ms-3">Inicio</span>
          </a>
        </li>
        <li>
          <a href="/bookmarks" class="flex items-center p-2 text-neutral-900 rounded-lg dark:text-white hover:bg-neutral-100 dark:hover:bg-neutral-700 group">
            <div class="flex justify-center min-w-6">
              <svg
                width="1.2em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 6.2c0-1.12 0-1.68.218-2.108a2 2 0 0 1 .874-.874C6.52 3 7.08 3 8.2 3h7.6c1.12 0 1.68 0 2.108.218a2 2 0 0 1 .874.874C19 4.52 19 5.08 19 6.2V21l-7-5-7 5V6.2Z" stroke="currentColor" stroke-width="2" stroke-linejoin="round"/>
              </svg>
            </div>
              <span class="ms-3">Bookmarks</span>
          </a>
        </li>
    </ul>
  </div>
</aside>

<script>
  import {isSidebarOpen} from "@src/store"

  isSidebarOpen.subscribe((isOpen)=>{
    const $sidebar = document.querySelector('#default-sidebar')
    if ($sidebar) {
      $sidebar.classList.remove('hidden')
      // $sidebar.classList.remove('-translate-x-full')
      if (isOpen){
        $sidebar.classList.add('hidden')
        // $sidebar.classList.add('-translate-x-full')
      }
    }
    
  })
</script>