---
import { ViewTransitions } from "astro:transitions"
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en" class="bg-[224px] font-sans">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="min-h-screen flex flex-col text-white text-pretty">
    <Navbar />
    <main class="w-[800px] min-h-[75vh] max-w-[calc(100%_-_2rem)] text-xl leading-6 mx-auto my-0 p-4 ">
      <slot />
    </main>
    <Footer />
  </body><style is:global>
    :root {
      --accent: 255, 0, 0;
      --accent-light: 224, 204, 250;
      --accent-dark: 49, 10, 101;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
      );
      --background: #191919;
    }
    html {
      background: var(--background);
	}
  </style>
</html>
